* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #070b13;
    margin-bottom: 1000px;
    overflow-x: hidden;
}

.mainBackgroundVideo {
    width: 100vw;
    height: 120vh;
    filter: brightness(0.7);
    position: absolute;
    z-index: -1;
    object-fit: cover;
}

.topArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.navbar {
    width: 100vw;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    z-index: 2;
    background-color: #070b13;
}

.navbar section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar section img {
    width: 50px;
}

.navbar section a {
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 1rem;
}

.navbar section a:hover {
    color: #e0e0e0;
}

.navbar button {
    height: 50px;
    width: 150px;
    font-size: 1rem;
    background-color: #719de6;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    color: #1f4342;
}

.navbar button:hover {
    background-color: #638bcb;
}

.topContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.topContent h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 3.5rem;
}

.topContent h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(to right, #719de6, #52d2ce, #56cad1, #719de6);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 8rem;
}

.topContent h3 {
    color: white;
    font-family: 'Grandiflora One', serif;
    font-weight: 100;
}

.nsccAbout {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
}

.aboutSection {
    gap: 30px;
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nsccAbout h1 {
    margin-top: 400px;
    font-size: 4rem;
    background: linear-gradient(to right, #719de6, #52d2ce, #836be5, #56cad1, #719de6);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.nsccAbout p {
    font-size: 1.5rem;
    text-align: justify;
}

.nsccTeam {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.nsccTeam h1 {
    margin-top: 200px;
    font-size: 4rem;
    background: linear-gradient(to right, #719de6, #52d2ce, #836be5, #56cad1, #719de6);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.teamContainer {
    width: 80vw;
    display: flex;
    overflow-y: auto;
    scroll-behavior: smooth;
    gap: 100px;

}

.teamContainer::-webkit-scrollbar {
    display: none;
}

.teamContainer .card {
    width: 250px;
    height: 400px;
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 1px solid white;
    justify-content: space-around;
    padding: 20px;
}

.teamContainer .card .cardImage img {
    border-radius: 50%;
}

.teamContainer .card .cardContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.teamContainer .card .cardContent a img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}